#wallpaper-eag-match{
background-color: #f7f7f9;
display:flex;
justify-content:space-around;
align-items:center;
flex-wrap:wrap;
}

.bloc_selection_match:nth-child(2){
margin:auto;
}

#fond_accueil{
width:100%;
}

#conteneur {
background-color:#e30a0e;
display:flex;
justify-content:space-around;
flex-flow: wrap row;
}

.match{
margin:2rem;
}


.match:nth-child(1){
border: solid 5px black;
background-color:#f7f7f9;
}

.match:nth-child(2){
border: solid 5px black;
background-color:#f7f7f9;
}

.match:nth-child(3){
border: solid 5px black;
background-color:#f7f7f9;
}

.match:nth-child(4){
border: solid 5px black;
background-color:#f7f7f9;
}

.match:nth-child(5){
border: solid 5px black;
background-color:#f7f7f9;
}

.match_selection{
/*border: solid 5px black;*/
margin:0.8rem;
display:flex;
flex-flow: wrap column;
justify-content:center;
align-items:center;

}

.btn {
  font-weight: 400;
   }

.btn-default {
  color: #e30a0e;
  border: 2px solid black; /*bouton*/
  background-color: transparent;
  hover: white;
   }

   .bouton_reserver:hover{
   background-color:#e30a0e;
   }
